# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
env.bak/
.venv/

# VS Code settings
.vscode/

# Environment variables
*.env

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Pydantic cache
__pydantic__/ 

# Pip dependency wheels
*.whl

# Testing and coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/

# Vercel deployment files (optional)
.vercel/
